@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --body: #333;
  --primary: #e0f79c;
  --bg: #fafafa;
  --title: #1a1a1a;
  --text-xxs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-mds: 0.938rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xxl: 1.563rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2rem;
  --text-4xls: 1.875rem;
  --text-4xl: 2.375rem;
  --text-5xl: 3rem;
  --text-hero: 3.125rem;
  --line-xs: 130%;
  --line-xl: 150%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-height: 100%;
  height: auto;
  width: 100%;
  background: var(--bg);
  color: var(--title);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--text-xs) var(--text-xl);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  position: relative;
  overflow: visible;
}
nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--text-xl);
  list-style-type: none;
  text-transform: uppercase;
  font-size: var(--text-sm);
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: var(--bg);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.4s ease;
  padding: var(--text-xl);
}
nav .nav-menu li {
  position: relative;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
}
nav .nav-menu li span {
  display: block;
  line-height: 20px;
  transition: transform 0.35s ease;
}
nav .nav-menu li span:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
nav .nav-menu li .talk {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 20px;
  border: 1px solid var(--body);
  border-radius: 50px;
  font-size: var(--text-sm);
  text-transform: capitalize;
  text-decoration: none;
  color: var(--title);
  display: "block";
}
nav .nav-menu li:hover span:nth-child(1) {
  transform: translateY(-20px);
}
nav .nav-menu li:hover span:nth-child(2) {
  transform: translate(-50%, -20px);
}
nav .menu-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
nav .nav-contact .talk {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 20px;
  border: 1px solid var(--body);
  border-radius: 50px;
  font-size: var(--text-sm);
  text-decoration: none;
  color: var(--title);
  display: none;
}
nav .nav-contact .menu-close {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
nav .nav-contact .menu-close svg {
  display: block;
}

.hero--section .hero_section {
  padding: var(--text-4xls) 0;
}
.hero--section .hero_section .hero-left {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: var(--text-xxl);
}
.hero--section .hero_section .hero-left .hero-heading {
  font-size: var(--text-3xl);
  line-height: var(--line-xl);
  font-weight: 500;
}
.hero--section .hero_section .hero-left .hero-btn {
  margin: 0 auto;
}
.hero--section .hero_section .hero-left .hero-btn .hero-work {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--text-xs);
  padding: 5px 5px 5px 20px;
  font-size: var(--text-sm);
  color: var(--bg);
  background: var(--title);
  text-decoration: none;
  text-transform: capitalize;
  width: -moz-max-content;
  width: max-content;
  border-radius: 50px;
}
.hero--section .hero_section .hero-left .hero-btn .hero-work span:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  background: var(--primary);
  border-radius: 50%;
  min-width: 35px;
  min-width: 35px;
  max-height: 35px;
  min-height: 35px;
}
.hero--section .hero_section .hero-right {
  display: none;
}
.hero--section .hero-img {
  margin: 0 auto;
  overflow: hidden;
  width: 77%;
  position: relative;
  z-index: 10;
}
.hero--section .hero-img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

@media (min-width: 768px) {
  .hero--section .hero_section {
    display: flex;
    flex-direction: column;
    row-gap: var(--text-xl);
    padding: 60px 20px 40px 20px;
  }
  .hero--section .hero_section .hero-left {
    text-align: left;
  }
  .hero--section .hero_section .hero-left .hero-heading {
    font-size: var(--text-hero);
    line-height: var(--line-xs);
  }
  .hero--section .hero_section .hero-left .hero-btn {
    margin: 0;
  }
  .hero--section .hero_section .hero-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0;
    flex-direction: column;
  }
  .hero--section .hero_section .hero-right .hero-profiles {
    position: relative;
    display: flex;
    align-items: center;
  }
  .hero--section .hero_section .hero-right .hero-profiles .customer-img {
    min-height: 45px;
    max-height: 45px;
    min-width: 45px;
    max-width: 45px;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .hero--section .hero_section .hero-right .hero-profiles .customer-img:not(:first-child) {
    margin-left: -12px;
  }
  .hero--section .hero_section .hero-right .hero-profiles .customer-img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  .hero--section .hero_section .hero-right .hero-info {
    margin-top: var(--text-xl);
    width: 100%;
    max-width: 32%;
    text-align: right;
  }
  .hero--section .hero_section .hero-right .hero-info p {
    font-size: var(--text-sm);
    line-height: var(--line-xl);
  }
}
@media (min-width: 1024px) {
  nav {
    max-width: 1336px;
    margin: 0 auto;
    height: 4.5em;
  }
  nav .nav-menu {
    position: static;
    flex-direction: row;
    width: auto;
    opacity: 1;
    visibility: visible;
    transform: none;
  }
  nav .nav-menu li {
    width: auto;
    text-align: center;
    padding: 0 var(--text-xxs);
    margin: 0 var(--text-xxs);
  }
  nav .nav-menu li:last-child {
    display: none;
  }
  nav .nav-contact .talk {
    display: flex;
  }
  nav .nav-contact .menu-close {
    display: none;
  }
  .hero--section .hero_section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 0;
    flex-direction: row;
    max-width: 1336px;
    margin: 0 auto;
  }
  .hero--section .hero_section .hero-left {
    max-width: 55%;
  }
  .hero--section .hero_section .hero-right {
    max-width: 20%;
  }
  .hero--section .hero_section .hero-right .hero-info {
    max-width: 100%;
  }
  .hero--section .hero-img img {
    min-height: 710px;
  }
}/*# sourceMappingURL=index.css.map */