@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --body: #333;
  --primary: #e0f79c;
  --bg: #fafafa;
  --title: #1a1a1a;

  --text-xxs: 0.625rem; // 10px
  --text-xs: 0.75rem; // 12px
  --text-sm: 0.875rem; // 14px
  --text-mds: 0.938rem; // 15px
  --text-md: 1rem; // 16px
  --text-lg: 1.125rem; // 18px
  --text-xxl: 1.563rem; // 25px
  --text-xl: 1.25rem; // 20px
  --text-2xl: 1.75rem; // 28px
  --text-3xl: 2rem; // 32px
  --text-4xls: 1.875rem; // 30px
  --text-4xl: 2.375rem; // 38px
  --text-5xl: 3rem; // 48px
  --text-hero: 3.125rem; // 50px

  --line-xs: 130%;
  --line-xl: 150%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-height: 100%;
  height: auto;
  width: 100%;
  background: var(--bg);
  color: var(--title);
  // overflow-x: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
}

@mixin flexProperty($alignItem, $justifyContent, $gap: var(--text-xl)) {
  display: flex;
  align-items: $alignItem;
  justify-content: $justifyContent;
  gap: $gap;
}

@mixin btnProperty($display: 'none') {
  @include flexProperty(center, center, 8px);
  padding: 12px 20px;
  border: 1px solid var(--body);
  border-radius: 50px;
  font-size: var(--text-sm);
  text-transform: capitalize;
  text-decoration: none;
  color: var(--title);
  display: $display;
}

@mixin btnProperty1() {
  @include flexProperty(center, center, var(--text-xs));
  padding: 5px 5px 5px 20px;
  font-size: var(--text-sm);
  color: var(--bg);
  background: var(--title);
  text-decoration: none;
  text-transform: capitalize;
  width: max-content;
  border-radius: 50px;
}

@mixin btnProperty1Span() {
  @include flexProperty(center, center, 0px);
  background: var(--primary);
  border-radius: 50%;
  min-width: 35px;
  min-width: 35px;
  max-height: 35px;
  min-height: 35px;
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--text-xs) var(--text-xl); // xs -> mds
  border-bottom: 1px solid #0000001a;
  position: relative;
  overflow: visible;

  .nav-menu {
    @include flexProperty(center, center, var(--text-xl));
    list-style-type: none;
    text-transform: uppercase;
    font-size: var(--text-sm);
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: var(--bg);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all .4s ease;
    padding: var(--text-xl);

    li {
      position: relative;
      height: 20px;
      cursor: pointer;
      overflow: hidden;

      span {
        display: block;
        line-height: 20px;
        transition: transform .35s ease;
      }

      span:nth-child(2) {
        position: absolute;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
      }

      .talk {
        @include btnProperty('block');
      }
    }

    li:hover {
      span:nth-child(1) {
        transform: translateY(-20px);
      }

      span:nth-child(2) {
        transform: translate(-50%, -20px);
      }
    }
  }

  .menu-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-contact {
    .talk {
      @include flexProperty(center, center, 8px);
      padding: 12px 20px;
      border: 1px solid var(--body);
      border-radius: 50px;
      font-size: var(--text-sm);
      text-decoration: none;
      color: var(--title);
      display: none;
    }

    .menu-close {
      position: relative;
      cursor: pointer;
      width: 24px;
      height: 24px;

      svg {
        display: block;
      }
    }
  }
}

// Hero
.hero--section {
  .hero_section {
    padding: var(--text-4xls) 0;

    .hero-left {
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: var(--text-xxl);

      .hero-heading {
        font-size: var(--text-3xl);
        line-height: var(--line-xl);
        font-weight: 500;
      }

      .hero-btn {
        margin: 0 auto;

        .hero-work {
          @include btnProperty1();

          span:nth-child(2) {
            @include btnProperty1Span();
          }
        }
      }
    }

    .hero-right {
      display: none;
    }
  }

  .hero-img {
    margin: 0 auto;
    overflow: hidden;
    width: 77%;
    position: relative;
    z-index: 10;

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      min-height: 300px;
      object-fit: cover;
      display: block;
    }
  }
}

// Tablet Screen
@media (min-width: 768px) {
  // Hero
  .hero--section {
    .hero_section {
      display: flex;
      flex-direction: column;
      row-gap: var(--text-xl);
      padding: 60px 20px 40px 20px;

      .hero-left {
        text-align: left;

        .hero-heading {
          font-size: var(--text-hero);
          line-height: var(--line-xs);
        }

        .hero-btn {
          margin: 0;
        }
      }

      .hero-right {
        @include flexProperty(flex-end, flex-end, 0);
        flex-direction: column;

        .hero-profiles {
          position: relative;
          display: flex;
          align-items: center;

          .customer-img {
            min-height: 45px;
            max-height: 45px;
            min-width: 45px;
            max-width: 45px;
            overflow: hidden;
            border: 1px solid #fff;
            border-radius: 50%;


            &:not(:first-child) {
              margin-left: -12px;
            }

            img {
              border-radius: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;
              display: block;
            }
          }
        }

        .hero-info {
          margin-top: var(--text-xl);
          width: 100%;
          max-width: 32%;
          text-align: right;

          p {
            font-size: var(--text-sm);
            line-height: var(--line-xl);
          }
        }
      }
    }
  }
}

// Desktop Screen
@media (min-width: 1024px) {
  // Nav
  nav {
    max-width: 1336px;
    margin: 0 auto;
    height: 4.5em;

    .nav-menu {
      position: static;
      flex-direction: row;
      width: auto;

      opacity: 1;
      visibility: visible;
      transform: none;
    }

    .nav-menu li {
      width: auto;
      text-align: center;
      padding: 0 var(--text-xxs);
      margin: 0 var(--text-xxs);
    }

    .nav-menu li:last-child {
      display: none;
    }

    .nav-contact {
      .talk {
        display: flex;
      }

      .menu-close {
        display: none;
      }
    }
  }

  // Hero
  .hero--section {
    .hero_section {
      @include flexProperty(flex-end, space-between, 0);
      flex-direction: row;
      max-width: 1336px;
      margin: 0 auto;

      .hero-left {
        max-width: 55%;
      }

      .hero-right {
        max-width: 20%;

        .hero-info {
          max-width: 100%;
        }
      }
    }

    .hero-img {
      img {
        min-height: 710px;
      }
    }
  }
}
